<mat-toolbar color="primary" class="mat-elevation-z2">
  <span>Resultados en tiempo real</span>
  <span class="spacer"></span>
  <mat-button-toggle-group [value]="view" (change)="setView($event.value)">
    <mat-button-toggle value="list"><mat-icon>view_module</mat-icon>&nbsp;Lista</mat-button-toggle>
    <mat-button-toggle value="bar"><mat-icon>bar_chart</mat-icon>&nbsp;Barras</mat-button-toggle>
    <mat-button-toggle value="hbar"><mat-icon>stacked_bar_chart</mat-icon>&nbsp;Barras H</mat-button-toggle>
    <mat-button-toggle value="pie"><mat-icon>pie_chart</mat-icon>&nbsp;Pastel</mat-button-toggle>
    <mat-button-toggle value="donut"><mat-icon>donut_large</mat-icon>&nbsp;Dona</mat-button-toggle>
    <mat-button-toggle value="line"><mat-icon>show_chart</mat-icon>&nbsp;Líneas</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<div class="results-wrap">
  <mat-card class="summary mat-elevation-z3">
    <mat-card-content>
      <div class="summary-row">
        <div>Elección: <code>{{ electionId || 'N/D' }}</code></div>
        <div>Total votos: <span class="mono">{{ total }}</span></div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Lista -->
  <ng-container *ngIf="view === 'list'; else chartView">
    <div class="cards">
      <mat-card class="cand-card mat-elevation-z2"
                *ngFor="let c of candidates; trackBy: trackById">
        <img mat-card-image [src]="imgFor(c)" alt="{{ c.name }}" />
        <mat-card-content>
          <div class="row-top">
            <div class="name">{{ c.name }}</div>
            <div class="votes">Votos: {{ c.voteCount }}</div>
          </div>
          <div class="pct-row">
            <span>{{ pct(c) | number:'1.0-1' }}%</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="pct(c)"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <!-- Gráfico -->
  <ng-template #chartView>
    <mat-card class="chart-card mat-elevation-z3">
      <mat-card-content>
        <div class="chart-header">{{ chartTitle }}</div>
        <div class="chart-box">
          <div #chartEl></div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>
